@model QuanLiCuaHang.Areas.Manager.Data.BCTONKHO
@*@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.BCTONKHO>*@

@*@model QuanLiCuaHang.Areas.Manager.ViewModel.BCTonKhoViewModel*@

@*@model Tuple<IEnumerable<QuanLiCuaHang.Areas.Manager.Data.BCTONKHO, QuanLiCuaHang.Areas.Manager.Data.BCTONKHO>*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@if (TempData["testmsg"] != null)
{
    @Html.Raw(TempData["testmsg"])
}

<script src="~/Scripts/jquery-3.4.1.js"></script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <fieldset>
        <legend style="border-bottom: 3px solid #e5e5e5; text-align: center">TẠO BÁO CÁO TỒN KHO</legend>
        <div class="container-fluid">
            <div class="row">
                <div class="row col-md-2">
                    <div class="form-group">
                        <label>Chọn tháng</label>

                        @Html.EditorFor(model => model.Thang, new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
                        @Html.ValidationMessageFor(model => model.Thang, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row col-md-2">
                    <div class="form-group">
                        <label>Chọn năm</label>
                        @Html.EditorFor(model => model.Nam, new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
                        @Html.ValidationMessageFor(model => model.Nam, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
        </div>
        <div class="form-group">
            <input type="submit" style="margin-left:15px" class="btn btn-primary" value="Thêm" />
        </div>
     
    </fieldset>
    </div>
}




