@model QuanLiCuaHang.Areas.Manager.Data.BCTONKHO
@*@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.BCTONKHO>*@

@*@model QuanLiCuaHang.Areas.Manager.ViewModel.BCTonKhoViewModel*@

@*@model Tuple<IEnumerable<QuanLiCuaHang.Areas.Manager.Data.BCTONKHO, QuanLiCuaHang.Areas.Manager.Data.BCTONKHO>*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@if (TempData["testmsg"] != null)
{
    @Html.Raw(TempData["testmsg"])
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
@*<link rel="stylesheet" type="text/css" href="~/Assets/Manager/dist/assets/sweetalert/dist/sweetalert2.css">*@
@*<script src="~/Assets/Manager/dist/assets/sweetalert/dist/sweetalert2.all.min.js"></script>*@
<link rel="stylesheet" href="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.css">
@*<script src="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#Thang").val(1);
        $("#Nam").val(2020);
        var Chan = $("#Thang").val();
    });

</script>


@using (Html.BeginForm("Create","BCTonKho", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <fieldset>
        <legend style="border-bottom: 3px solid #e5e5e5; text-align: center">TẠO BÁO CÁO TỒN KHO</legend>
        <div class="container-fluid">
            <div class="row">
                <div class="row col-md-2">
                    <div class="form-group">
                        <label>Chọn tháng</label>

                        @*<input style="width:80px" type="text" class="form-control" required>*@
                        @Html.EditorFor(model => model.Thang, new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
                        @Html.ValidationMessageFor(model => model.Thang, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row col-md-2">
                    <div class="form-group">
                        <label>Chọn năm</label>

                        @*<input style="width:80px" type="text" class="form-control" required>*@
                        @Html.EditorFor(model => model.Nam, new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
                        @Html.ValidationMessageFor(model => model.Nam, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
        </div>
        <div class="form-group">
            <input type="submit" style="margin-left:15px" class="btn btn-primary" value="Thêm" />
        </div>

    </fieldset>
    </div>
}




@Html.Action("Index", "BCTonKho", new {thang = 1})



@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
