@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.BCTONKHO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/Manager/dist/js/FileSaver.js.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">
    // Hàm chọn sản phẩm hiển thị đơn giá, đơn vị tinnhs
    $(document).ready(function () {
        document.getElementById('lbThang').innerHTML = $("#searchThang").val();
        document.getElementById('lbNam').innerHTML = $("#searchNam").val();

        $("#searchThang").change(function () {
            var thang = $("#searchThang").val();
            $("#Thang").val(thang);

        });

        $("#searchNam").change(function () {
            var nam = $("#searchNam").val();
            $("#Nam").val(nam);

        });
        $("#Submit").click(function (event) {

            var error_free = true;
            var currentMonth = (new Date).getMonth();
            var currentYear = (new Date).getFullYear();
            var thang = $("#searchThang").val();
            var nam = $("#searchNam").val();
            if (thang < 1 || thang > 12) {
                swal({
                    title: "Lỗi !",
                    text: "Tháng không hợp lệ",
                    icon: "error",
                    button: "Đồng ý!",
                });
                error_free = false;
            }
            else if (nam > currentYear) {
                swal({
                    title: "Lỗi !",
                    text: "Chưa tới ngày lập báo cáo",
                    icon: "error",
                    button: "Đồng ý!",
                });
                error_free = false;
            }
            else if (nam == currentYear) {
                if (thang > currentMonth) {
                    swal({
                        title: "Lỗi !",
                        text: "Chưa tới ngày lập báo cáo",
                        icon: "error",
                        button: "Đồng ý!",
                    });
                    error_free = false;
                }
            }
            else if (nam < 2020) {
                swal({
                    title: "Lỗi !",
                    text: "Năm lập báo cáo tối thiểu là tháng 1/2020",
                    icon: "error",
                    button: "Đồng ý!",
                });
                error_free = false;
            }



            if (!error_free) {
                event.preventDefault();
            }
            else {

                swal({
                    title: "Thành công !",
                    text: "Lập báo cáo thành công!",
                    icon: "success",
                    button: "Đồng ý!",
                });
            }
        });



    });




    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';
        tab_text = tab_text + '<x:Name>Test Sheet</x:Name>';
        tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px'>";
        var exportTable = $('#' + id).clone();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = name + '_' + parseInt(Math.random() * 10000000000) + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>

@* CSS Begin *@
<style>

    #nhapphieu {
        text-align: center;
        color: purple;
        font-size: 35px;
        font-weight: bold;
        /*border: 1px solid #ddd;
            background-color: forestgreen;*/
        padding: 0px 0px;
        margin: 0px 290px;
    }

</style>

@* Index View *@
<div class="card-body">
    @using (Html.BeginForm("Index", "BCTonKho", FormMethod.Get))
    {
        {

    <div class="form-horizontal">
        @*<h1 style="border-bottom: 3px solid #e5e5e5; text-align: center"> TẠO BÁO CÁO TỒN KHO </h1>*@

        <h1 id="nhapphieu">TẠO BÁO CÁO TỒN KHO</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <fieldset>

            <div class="container-fluid">
                <div class="row">
                    <div class="row col-md-2">
                        <div class="form-group">
                            <label>Chọn tháng</label>



                            @Html.EditorFor(model => model.FirstOrDefault().Thang, new { htmlAttributes = new { @class = "form-control", style = "width:80px", @id = "searchThang" } })
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().Thang, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <div class="row col-md-2">
                        <div class="form-group">
                            <label>Chọn năm</label>

                            @Html.EditorFor(model => model.FirstOrDefault().Nam, new { htmlAttributes = new { @class = "form-control", style = "width:80px", @id = "searchNam" } })
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().Nam, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
            </div>
            <div class="form-group">
                <button id="searchSubmit" type="submit" name="searchSubmit" style="margin-left:15px; float: left" class="btn btn-primary" hidden> Tra cứu </button>
            </div>


        </fieldset>
    </div>

        }
    }


    @using (Html.BeginForm("Create", "BCTonKho", FormMethod.Post))
    {
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="row col-md-2" hidden>
                    <div class="form-group">
                        <label>Chọn tháng</label>

                        @*<input style="width:80px" type="text" class="form-control" required>*@
                        @*@Html.TextBox("Thang")*@

                        @Html.EditorFor(model => model.FirstOrDefault().Thang, new { htmlAttributes = new { @class = "form-control", style = "width:80px", @id = "Thang" } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Thang, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="row col-md-2" hidden>
                    <div class="form-group">
                        <label>Chọn năm</label>

                        @*<input style="width:80px" type="text" class="form-control" required>*@
                        @Html.TextBoxFor(model => model.FirstOrDefault().Nam, new { htmlAttributes = new { @class = "form-control", style = "width:80px", @id = "Nam" } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Nam, "", new { @class = "text-danger" })
                    </div>
                </div>




                @*<div class="form-group">
                        <input name="submit" id="submit" type="submit" style="margin-left:15px; margin-top:  0px" class="btn btn-primary" value="Tạo" />
                    </div>*@

                <div class="form-group">
                    <button id="Submit" type="submit" name="Submit" style="margin-left:15px; margin-top: 0px" ; class="btn btn-primary"> Tạo </button>
                </div>




            </div>
        }
    }


    @* Create BCTonKho Function *@
    <div class="table-responsive">
        <button style="float:right" class="btn btn-success" onclick="javascript: fnExcelReport('datatable-editable','data')">
            <i class="fa fa-file-excel-o"></i> Xuất Excel
        </button>


        <table class="table table-bordered table-striped mb-none" id="datatable-editable" width="100%" cellspacing="0">

            <thead>

                <tr>
                    <th colspan="6" style="background-color: lightsteelblue">

                        <h4 style="text-align:center; font-weight:bold"> BÁO CÁO TỒN KHO THÁNG <label id="lbThang">  </label> / <label id="lbNam">  </label> </h4>

                    </th>
                </tr>
                <tr>
                    <th>Tên loại sản phẩm</th>
                    <th>Tồn đầu</th>
                    <th>Số lượng mua vào</th>
                    <th>Số lượng bán ra</th>
                    <th>Tồn cuối</th>
                    <th> Đơn vị tính </th>

                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.TenSanPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tondau)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SLMuaVao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SLBanRa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TonCuoi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.LOAISANPHAM.DONVITINH.TenDVT)
                        </td>


                    </tr>

                }


            </tbody>
        </table>
        @*@using (Html.BeginForm("Export", "BCTonKho", FormMethod.Post))
            {
                <input type="submit" value="Export" />
            }*@

    </div>
</div>

