@model QuanLiCuaHang.Areas.Manager.Data.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
]

<div>
    <h4>Chi tiết sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaMuaVao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaMuaVao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBanRa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBanRa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAISANPHAM.TenLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TenLoaiSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Sua", new { id = Model.MaSP }) |
    @Html.ActionLink("Trở về", "DanhSach")
</p>
