@model QuanLiCuaHang.Areas.Manager.Data.CHITIET_PHIEUDV

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>CHỈNH SỬA</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>
@*<link rel="stylesheet" type="text/css" href="~/Assets/Manager/dist/assets/sweetalert/dist/sweetalert2.css">*@
@*<script src="~/Assets/Manager/dist/assets/sweetalert/dist/sweetalert2.all.min.js"></script>*@
<link rel="stylesheet" href="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.css">
@*<script src="https://npmcdn.com/sweetalert2@4.0.15/dist/sweetalert2.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
    // Hàm chọn sản phẩm hiển thị đơn giá, đơn vị tinnhs
    $(document).ready(function () {
        var MaTinhTrangDV = $("#MaTinhTrangDV").val();
        var ConLai = parseFloat($("#ThanhToanConLai").val());

        // Disable MaTinhTrangDV
        if (MaTinhTrangDV == 1) {
            $("#MaTinhTrangDV").prop("disabled", true);
        }
        $("#MaTinhTrangDV").change(function () {

            var MaTinhTrangDV = $("#MaTinhTrangDV").val();
            if (MaTinhTrangDV == 1) {
                swal({
                    title: "Bạn có chắc chắn không?",
                    text: "Khi thay đổi thành ĐÃ GIAO, bạn không thể thay đổi lại",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {

                        if (willDelete) {
                            $("#MaTinhTrangDV").prop("disabled", true);
                            //$("#ThanhToanConLai").val(0);
                            //$("#ThanhToanTraTruoc").val(parseFloat($("#ThanhTien").val()));

                            swal("Thành công", {
                                icon: "success",
                            });

                        }
                        else {
                            $("#MaTinhTrangDV").val(0);
                        }
                       ;
                    });
            }
        });


        $("#submit").click(function (event) {

            var error_free = true;
            if (!error_free) {
                event.preventDefault();
            }
            else {
                swal({
                    title: "Thành công !",
                    text: "Cập nhật thành công!",
                    icon: "success",
                    button: "Đồng ý!",
                });
            }
            $("#MaTinhTrangDV").prop("disabled", false);

        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>CHI TIẾT PHIẾU DỊCH VỤ</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaPDV)

    @Html.HiddenFor(model => model.MaLoaiDV)

    <div class="form-group">
        @Html.LabelFor(model => model.DonGiaDuocTinh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DonGiaDuocTinh, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.DonGiaDuocTinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThanhTien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThanhTien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ThanhTien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThanhToanTraTruoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThanhToanTraTruoc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ThanhToanTraTruoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThanhToanConLai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThanhToanConLai, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ThanhToanConLai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayGiao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayGiao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaTinhTrangDV, "MaTinhTrangDV", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaTinhTrangDV", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaTinhTrangDV, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.MaTinhTrangDV, "MaTinhTrangDV", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="tinhtrang">
                <option value="Đã giao"> Đã giao </option>
                <option value="Chưa giao"> Chưa giao </option>
            </select>
            </div>
    </div>*@




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="submit" type="submit" value="Lưu lại" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về","Details", "CT_PhieuDichVu", new { id = Model.MaPDV })
</div>
